h1 {
    margin: 0 0 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

.about-me {
    color: var(--color-secondary);
    text-align: justify;
    margin: 3rem 0 4rem;
}

.about-me a {
    color: var(--color-secondary);
}

.contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.contact {
    text-decoration: none;
    font-size: 1.5rem;
    background: rgba(var(--selected-color), 0.05);
    color: rgb(var(--selected-color));
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 300ms ease, border-radius 300ms ease;
}

.contact:hover {
    background: rgba(var(--selected-color), 0.15);
    border-radius: 1rem;
}

.poster {
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 3rem;
}

.skill-row {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--color-secondary);
}

.skill-row i {
    font-size: 1.5rem;
    margin-left: 2rem;
}