:root {
    --ff-default: 'Albert Sans', sans-serif;
    --ff-heading: 'Libre Baskerville', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-default);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 4rem 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #5eff68;
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-family: var(--ff-heading);
}

h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 2rem;
}

h2 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

h2 span {
    font-family: inherit;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

a {
    color: #000;
    font-weight: bold;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.contacts .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 1000px;
}

.about-me {
    text-align: justify;
}

.with-icon {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.with-icon i {
    font-size: 1.5rem;
}